{% extends "base.html" %}

{% block title %}
    Facebook SDK App Engine
{% endblock %}

{% block css %}
    <style>
        .gist {
            max-width:735px;
        }
    </style>
{% endblock %}
{% block container %}

    <div class="pure-u-1" style="text-align: center;">
        <h1>Facebook SDK App Engine</h1>
        <h2>
            <a href="{{login_facebook}}" class="pure-button pure-button-primary">Login via Facebook</a>
        </h2>

        {% if error %}
            <p>{{error}}</p>
        {% endif %}

        <nav>
            <ul>
                <li>
                    <a href="https://github.com/raphaelcuba/fbsdk-webapp2">
                        This project on Github
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <center>
        <script src="https://gist.github.com/raphaelcuba/5907192.js"></script>
    </center>

{% endblock %}